<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32429475995-sn4rkfonfl7d5icclgf8nnu1mior5jom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32429475995-sn4rkfonfl7d5icclgf8nnu1mior5jom</string>
	<key>API_KEY</key>
	<string>AIzaSyDxi-haqkpYswBxUZT_LonzRcf9MF9Yueo</string>
	<key>GCM_SENDER_ID</key>
	<string>32429475995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appProductsFlutter</string>
	<key>PROJECT_ID</key>
	<string>mpii-rigelapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mpii-rigelapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32429475995:ios:f164c994c462edff88de3e</string>
</dict>
</plist>